# A

In [2]:
import pandas as pd
readData = pd.read_csv('../CSV files/IPL Ball-by-Ball 2008-2020.csv')
checkingNullValues = readData.isnull().sum()
print(checkingNullValues)

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
Unnamed: 18         193468
dtype: int64

# B

In [44]:
# pehlaData = pd.read_csv('../CSV files/pehlaData.csv')
# dusraData = pd.read_csv('../CSV files/dusraData.csv')
# judaaHuaCSV = pd.merge(pehlaData,dusraData,on="Loan_ID",how="inner")
print("Successfull")

Successfull

# C

In [8]:
checkingNullValues = readData.isnull().sum()
print(checkingNullValues)

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
Unnamed: 18         193468
dtype: int64

# D

In [9]:
readData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
 18  Unnamed: 18       0 non-null       float64
dtypes: float64(1), int64(9), object(9)
memory usage: 28.0+ MB

# D

In [11]:
readData.shape

(193468, 19)

# E

In [21]:
print("Before Conversion")
print(readData.dtypes)
# readData['bowling_team'] = readData['bowling_team'].astype(object)
readData['total_runs'] = readData['total_runs'].astype(int)

print("After Conversion")
print(readData.dtypes)

Before Conversion
id                    int64
inning                int64
over                  int64
ball                  int64
batsman              object
non_striker          object
bowler               object
batsman_runs          int64
extra_runs            int64
total_runs            int64
non_boundary          int64
is_wicket             int64
dismissal_kind       object
player_dismissed     object
fielder              object
extras_type          object
batting_team         object
bowling_team         object
Unnamed: 18         float64
dtype: object
After Conversion
id                    int64
inning                int64
over                  int64
ball                  int64
batsman              object
non_striker          object
bowler               object
batsman_runs          int64
extra_runs            int64
total_runs            int32
non_boundary          int64
is_wicket             int64
dismissal_kind       object
player_dismissed     object
fielder              object
extras_type          object
batting_team         object
bowling_team         object
Unnamed: 18         float64
dtype: object

# F

In [22]:
readData['newFieldAdded'] = range(1,len(readData)+1) #creating part
readData.set_index('newFieldAdded',inplace=True) #setting up the column
print(readData)

                    id  inning  over  ball      batsman  non_striker  \
newFieldAdded
1               335982       1     6     5   RT Ponting  BB McCullum
2               335982       1     6     6  BB McCullum   RT Ponting
3               335982       1     7     1  BB McCullum   RT Ponting
4               335982       1     7     2  BB McCullum   RT Ponting
5               335982       1     7     3   RT Ponting  BB McCullum
...                ...     ...   ...   ...          ...          ...
193464         1237181       1    12     5      RR Pant      SS Iyer
193465         1237181       1    12     6      RR Pant      SS Iyer
193466         1237181       1    13     1      RR Pant      SS Iyer
193467         1237181       1    13     2      RR Pant      SS Iyer
193468         1237181       1    13     3      SS Iyer      RR Pant

                        bowler  batsman_runs  extra_runs  total_runs  \
newFieldAdded
1                    AA Noffke             1           0           1
2                    AA Noffke             1           0           1
3                       Z Khan             0           0           0
4                       Z Khan             1           0           1
5                       Z Khan             1           0           1
...                        ...           ...         ...         ...
193464         NM Coulter-Nile             0           0           0
193465         NM Coulter-Nile             1           0           1
193466               KH Pandya             0           1           1
193467               KH Pandya             1           0           1
193468               KH Pandya             1           0           1

               non_boundary  is_wicket dismissal_kind player_dismissed  \
newFieldAdded
1                         0          0            NaN              NaN
2                         0          0            NaN              NaN
3                         0          0            NaN              NaN
4                         0          0            NaN              NaN
5                         0          0            NaN              NaN
...                     ...        ...            ...              ...
193464                    0          0            NaN              NaN
193465                    0          0            NaN              NaN
193466                    0          0            NaN              NaN
193467                    0          0            NaN              NaN
193468                    0          0            NaN              NaN

              fielder extras_type           batting_team  \
newFieldAdded
1                 NaN         NaN  Kolkata Knight Riders
2                 NaN         NaN  Kolkata Knight Riders
3                 NaN         NaN  Kolkata Knight Riders
4                 NaN         NaN  Kolkata Knight Riders
5                 NaN         NaN  Kolkata Knight Riders
...               ...         ...                    ...
193464            NaN         NaN         Delhi Capitals
193465            NaN         NaN         Delhi Capitals
193466            NaN       wides         Delhi Capitals
193467            NaN         NaN         Delhi Capitals
193468            NaN         NaN         Delhi Capitals

                              bowling_team  Unnamed: 18
newFieldAdded
1              Royal Challengers Bangalore          NaN
2              Royal Challengers Bangalore          NaN
3              Royal Challengers Bangalore          NaN
4              Royal Challengers Bangalore          NaN
5              Royal Challengers Bangalore          NaN
...                                    ...          ...
193464                      Mumbai Indians          NaN
193465                      Mumbai Indians          NaN
193466                      Mumbai Indians          NaN
193467                      Mumbai Indians          NaN
193468                      Mumbai Indians          NaN

[193468 rows x 19 columns]

# G

In [30]:
# Select only numeric columns
numeric_columns = readData.select_dtypes(include=['float64', 'int64'])

# Identify outliers in numeric columns
outliers = numeric_columns[(numeric_columns - numeric_columns.mean()).abs() > 3 * numeric_columns.std()].dropna()
print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [id, inning, over, ball, batsman_runs, extra_runs, non_boundary, is_wicket, Unnamed: 18]
Index: []

# H

In [49]:
matches_per_inning = readData['inning'].value_counts()
print("Matches played in each inning:")
print(matches_per_inning)

Matches played in each inning:
inning
1    100191
2     93277
Name: count, dtype: int64

# I

In [50]:
runs_per_inning = readData.groupby('inning')['total_runs'].sum()
print("Runs scored in each inning:")
print(runs_per_inning)

Runs scored in each inning:
inning
1    132069
2    120725
Name: total_runs, dtype: int32

# J

In [51]:
top_teams = readData['batting_team'].value_counts().head(10)
print("Top 10 teams with the most number of matches won:")
print(top_teams)

Top 10 teams with the most number of matches won:
batting_team
Mumbai Indians                 24466
Royal Challengers Bangalore    22706
Kings XI Punjab                22622
Kolkata Knight Riders          22554
Chennai Super Kings            21455
Rajasthan Royals               18954
Delhi Daredevils               18780
Sunrisers Hyderabad            14826
Deccan Chargers                 9034
Pune Warriors                   5443
Name: count, dtype: int64

# K

In [34]:
top_players = readData['batsman'].value_counts().head(10)
print("Top 10 Players with Most Player of the Match awards:")
print(top_players)

Top 10 Players with Most Player of the Match awards:
batsman
V Kohli       4609
S Dhawan      4208
RG Sharma     4088
SK Raina      4041
DA Warner     3819
RV Uthappa    3658
G Gambhir     3524
MS Dhoni      3493
CH Gayle      3342
AM Rahane     3325
Name: count, dtype: int64

# L

In [35]:
percentage_field = (readData[readData['extras_type'] == 'field'].shape[0] / readData.shape[0]) * 100
print("Percentage of choosing to field after winning the toss:", percentage_field)

Percentage of choosing to field after winning the toss: 0.0

# M

In [36]:
percentage_bat = (readData[readData['extras_type'] == 'bat'].shape[0] / readData.shape[0]) * 100
print("Percentage of choosing to bat first after winning the toss:", percentage_bat)

Percentage of choosing to bat first after winning the toss: 0.0

# N

In [52]:
bat_to_field_ratio = readData['extras_type'].value_counts(normalize=True)
print("Ratio of Bat to Field count:")
print(bat_to_field_ratio)

Ratio of Bat to Field count:
extras_type
wides      0.572462
legbyes    0.303626
noballs    0.074074
byes       0.049643
penalty    0.000195
Name: proportion, dtype: float64

# O

In [53]:
result_counts = readData['dismissal_kind'].value_counts()
print("Count of Loss vs Wins vs Ties:")
print(result_counts)

Count of Loss vs Wins vs Ties:
dismissal_kind
caught                   5743
bowled                   1700
run out                   893
lbw                       571
stumped                   294
caught and bowled         269
hit wicket                 12
retired hurt               11
obstructing the field       2
Name: count, dtype: int64

# P

In [54]:
most_toss_wins = readData['batting_team'].value_counts().idxmax()
print("Team that won the most tosses:", most_toss_wins)

Team that won the most tosses: Mumbai Indians

# Q

In [41]:
most_4s = readData[readData['batsman_runs'] == 4]['batsman'].value_counts().idxmax()
print("Batsman who has hit the most number of 4's:", most_4s)

Batsman who has hit the most number of 4's: S Dhawan

# R

In [42]:
most_6s = readData[readData['batsman_runs'] == 6]['batsman'].value_counts().idxmax()
print("Batsman who has hit the most number of 6's:", most_6s)

Batsman who has hit the most number of 6's: CH Gayle